################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Item Reader/options.lua
/Monsters/options.lua
/Players/options.lua
